<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Info">
    <Appenders>
        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>

<!--            <Policies>-->
<!--                &lt;!&ndash; rollover on startup, daily and when the file reaches-->
<!--                    10 MegaBytes &ndash;&gt;-->
<!--                <OnStartupTriggeringPolicy />-->
<!--                <SizeBasedTriggeringPolicy-->
<!--                        size="10 MB" />-->
<!--                <TimeBasedTriggeringPolicy />-->
<!--            </Policies>-->
        </File>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="User" level="debug" additivity="false">
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>