<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="Info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %p %logger %msg%n"/>
<!--                <Pattern>%d{HH:mm:ss.SSS} [%t] %p %logger %msg%n</Pattern>-->
<!--            </PatternLayout>-->

        </File>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.project1.web1.controller.StringController" level="info" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>